<div class="list-filter">
  <app-text-input
    class="w-25-p"
    [label]="'Название книги'"
    [placeholder]="'Введите название книги'"
    [control]="getControl(controlNames.BOOK_TITLE)"  
  ></app-text-input>
  <app-text-input
    class="w-25-p"
    [label]="'Автор книги'"
    [placeholder]="'Введите ФИО автора через пробел'"
    [control]="getControl(controlNames.AUTHOR_NAME)" 
  ></app-text-input>
  <div class="w-25-p">Todo</div>
  <div class="w-25-p">Todo</div>
  <app-button [label]="'Искать'" (click)="onSearchClick.emit()"></app-button>
</div>
