.login-page-img {
  height: 100vh;
}

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

h2 {
  font-size: 35px;
}

svg {
  margin: auto 15px;
}