<div class="container">
  <div class="list">
    <div class="internal-card-border" *ngFor="let post of this.data$ | async |
        paginate: { id: 'server', itemsPerPage: this.repository.paginationData?.perPage,
        currentPage: this.repository.paginationData?.page, totalItems: this.repository.paginationData?.total }"
         (click)="goToPost(post.guid)"
    >{{post.title}}</div>
  </div>

  <div class="flex justify-content-end">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls class="my-pagination" (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>
</div>
