<header class="flex">
  <span (click)="goToLanding()"><img src="/assets/images/icon.png"/>Litransaction</span>
  <div class="flex justify-content-end">
    <nav>
        <a routerLink="/books" routerLinkActive="active-link">Книги</a>
        <a routerLink="/points" routerLinkActive="active-link">Места</a>
        <a routerLink="/requests" routerLinkActive="active-link">Объявления</a>
        <a routerLink="/posts" routerLinkActive="active-link">Публикации</a>
    </nav>
    <a  class="hover-border-none" routerLinkActive="profile-active-link" [routerLink]="['profile', UserStoreService.user?.guid]" >
      <img class="profile-btn" [src]="getUserAvatar()"/>
    </a>
  </div>
</header>
