<label [for]="label">{{ label }} {{ isRequired() ? '*' : '' }}</label><br>

<ng-container *ngIf="nativeElement === 'input'; else textarea">
  <input type="search" [id]="label"
    [minlength]="minLength"
    [maxlength]="maxLength"
    [placeholder]="placeholder"
    [formControl]="control"
    [disabled]="disabled"
  />
</ng-container>

<ng-template #textarea>
  <textarea
    [minlength]="minLength"
    [maxlength]="maxLength"
    [placeholder]="placeholder"
    [formControl]="control"
    [disabled]="disabled"
    [rows]="5"
  ></textarea>
</ng-template>