<div class="landing-first-block">
  <header class="flex">
      <img src="/assets/images/icon.png"/>
      <div>
        <nav>
            <a href="#about">О нас</a>
            <a href="#genres">Жанры</a>
            <a href="#path">Узнать свой путь</a>
            <app-button [label]="'Посетить'" (click)="toLoginForm()"></app-button>
        </nav>
      </div>
  </header>
  <div class="content-block">
     <h1>Litransaction</h1>
     <section>Присоединяйся к нашему культурному сообществу и развивай буккроссинг вместе с нами!</section>
     <app-button [label]="'Присоединиться'" [type]="'second'" (click)="toLoginForm()"></app-button>
  </div>
</div>
<div class="block-two content-block" id="about">
   <h1>About Us</h1>
   <div class="flex justify-content-between my-auto">
     <img src="/assets/images/image2.png"/>
     <section>
        Наша миссия заключается в том, чтобы поддерживать буккроссеров в их стремлении
        делиться книгами и создавать пространство, где каждая книга может найти своего
        читателя и каждый читатель может найти новое приключение между страницами.
     </section>
     <section>
        Через наш проект мы стремимся объединить людей, чтобы они могли делиться своими книгами и впечатлениями о них.
     </section>
   </div>
   <img id="img5" src="/assets/images/image5.png"/>
</div>
<div class="block-three" id="genres">
    <div class="content-block">
      <div class="flex">
        <label>Классика</label>
        <label>Фантастика</label>
        <label>Антиутопия</label>
      </div>
      <div class="flex">
        <img src="/assets/images/image7.png">
        <img src="/assets/images/image8.png">
        <img src="/assets/images/image9.png">
        <h1>Our<br/> Genres</h1>
      </div>
    </div>
</div>
<div class="block-four content-block" id="path">
  <h1>Your Path</h1>
  <div class="path-block">
    <div class="flex-row l1">
      <label>Обменяй свою книгу в буккроссинге</label>
    </div>
    <div class="flex-row l2">
      <label>Прочитай новую книгу</label>
    </div>
    <div class="flex-row justify-content-between w-80-p">
      <label>Поделись впечатлениями и найди единомышленников</label>
      <label>Оставь объявление о своей книге в нашем сервисе</label>
    </div>
    <div class="flex-row l4">
      <label>Изучи блоги единомышленников</label>
    </div>
    <div class="flex-row l5">
      <label>Выбери следующую книгу из доступных объявлений</label>
    </div>
  </div>
</div>
<div class="flex-row justify-content-end img10">
  <img src="/assets/images/img10.png"/>
</div>
<div class="block-five">
  <h1>Organize Your Dead Poets Society</h1>
</div>
<div class="landing-footer">
  <footer>
      <a>Правила сервиса</a>
      <a>Контакты</a>
      <a>Команда</a>
  </footer>
</div>


