<div class="container">
  <div class="flex justify-content-between">
    <fieldset class="list-title"><legend>Публикации наших творцов</legend></fieldset>
    <app-button class="my-auto" [type]="'second'" [label]="'Добавить'" (click)="onCreateClick()"></app-button>
  </div>
  <app-posts-list-filter
    [repository]="this.repository"
    (onSearchClick)="this.getPage(this.repository.paginationData?.page)"
  ></app-posts-list-filter>

  <div class="list">
    <app-posts-list-card *ngFor="let post of this.data$ | async |
        paginate: { id: 'server', itemsPerPage: this.repository.paginationData?.perPage,
        currentPage: this.repository.paginationData?.page, totalItems: this.repository.paginationData?.total }"
                         [post]="post"
                        (onDblclick)="onReadClick($event)"
    ></app-posts-list-card>
  </div>

  <div class="flex justify-content-end">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls class="my-pagination" (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>
</div>
