/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


@import 'assets/styles/colors';
@import 'assets/styles/paginator';
@import 'assets/styles/spaces';

body {
  background-color: $brown;
  margin: 0;
  color: $coffee;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

h1, h2, h3 {
  font-family: 'Playfair Display';
  font-weight: 400;
}

.flex {
  display: flex;
}

a {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: $coffee;

  &:hover, &.active-link {
    border-bottom: 3px $coffee solid;
  }
}

header {
  justify-content: space-between;
  z-index: 1000;
  padding: 50px 70px;
  font-size: inherit;
  position: relative;

  span {
    font-family: 'Playfair Display';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  a {
    margin: 0 35px;
  }

  app-button {
    margin-left: 20px;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  color: $coffee;
  z-index: 6;
  position: relative;

  a {
    margin: auto 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.container {
  padding: 30px 70px;

  fieldset.list-title {
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 90%;
  }
  .list-title legend {
    flex-shrink: 0;
    color: $coffee;
    font-family: 'Playfair Display';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 130px;
    padding: 0 30px;
  }

  .list-filter {
    margin: 25px 0 45px;
    display: flex;
    grid-gap: 25px;

    app-button {
      margin-top: 23px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 40px)/2));
    grid-gap: 40px;
  }

  .card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .card-row {
    width: 100%;
    display: flex;
    grid-column-gap: 20px;
    margin-bottom: 15px;
  }
}

.p-relative {
  position: relative;
}

.genre {
  border-radius: 15px;
  margin-right: 10px;
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #26160C;
  font-size: 12px;
  padding: 5px 20px;
  box-sizing: border-box;
}