.w-25-p {
  width: 25%;
}

.w-30-p {
  width: 30%;
}

.w-70-p {
  width: 70%;
}

.w-80-p {
  width: 80%;
}

.w-100-p {
  width: 100%;
}

.my-auto {
  margin: auto 0;
}

.mx-auto {
  margin: 0 auto;
}

.m-auto {
  margin: auto;
}

.mt-md {
  margin-top: 15px;
}

.mb-md {
  margin-bottom: 15px;
}